/* 题目的字体 */
@title-font-family: "微软雅黑", Microsoft YaHei, Helvetica, Helvetica Neue, Tahoma, Arial, sans-serif;
/* 内容的字体 */
@content-font-family: "宋体", Arial, sans-serif;
/* 题目的字体大小 */
@title-font-size: 16px;
/* 内容的字体大小 */
@content-font-size: 12px;

.title {
  font-family: @title-font-family !important;
  font-size: @title-font-size !important;
}

.content {
  font-family: @content-font-family !important;
  font-size: @content-font-size !important;
}


/* 侧导航栏的四个按钮颜色 */
@return-color: #4F9AC9;
@folder-color: #F6A61B;
